.title{
    font-size: 23px;
    font-weight: 600;
    margin-left: 2rem;
}
.daily-item{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 1px 1000px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    height: 40px;
    margin: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    padding: 5px 20px;
}
.icon-small{
    width: 40px;
}
.day{
    color: #212121;
flex: 1 1;
font: 600;
margin-left: 15px;
cursor: pointer;
}
.description{
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
    cursor: pointer;
}
.min-max{
    color: #757575;
    cursor: pointer;
}
.daily-det-grid{
    grid-row-gap: 0;
    grid-column-gap:15px ;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}
.daily-det-grid-item{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}
.daily-det-grid-item label:first-child{
    color: #bdbdbd;
}
.daily-det-grid-item label:last-child{
    color: #fefefe;
}
.para-row.top{
    /* background: rgba(255, 255, 255, 0.182); */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    background: transparent;
    border-radius: 0px;
    /* width: 100%; */
    color: #fff;
    border-bottom: 1px #ffffff solid;

}