.weather{
    width: auto;
    height: 100vh;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
    color: #fff;
    background:url(../../../../public/after_noon.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
    z-index: -1;
}
.top,.bottom   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom{
    flex-direction: column;
}
.city{
    font-weight:600 ;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}
.weather-description{
    font-weight:400 ;
    font-size: 14px;
    line-height: 1;
    margin: 0;
}
.weather-icon{
    width: 100px;
}
.temp{
font-weight: 600;
font-size: 70px;
width: auto;
letter-spacing: -5px;
margin: 10px 0;
}
.details{
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px rgba(229, 229, 229, 0.621) groove;
}
.para-row{
    display: flex;
    justify-content: space-between;
    margin:0 2rem 1rem; 
    padding: 10px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 1px 1000px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    }
.para-label{
    text-align:left;
    font-weight: 400;
    font-size: 22px;
}
.para-value{
    text-align: right;
    font-weight: 600;
    font-size: 22px;
}
.para-row.top{
    box-shadow: 0 0 0;
    backdrop-filter: blur(0px);
    background: transparent;
}