.container{
  max-width: 1080px;
  height: 100%;
  margin: 20px auto;
  background: rgb(33,33,33);
  background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(37,37,37,1) 55%, rgba(117,117,117,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%);
}
.btn{
margin: 1rem;
  border: none;
 color: #fff;
 background-image: linear-gradient(30deg,rgba(33,33,33,1) 0%, rgba(37,37,37,1) 55%, rgba(117,117,117,1) 100%);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}
button:hover {
  background-position: right center;
  background-size: 200% auto;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #7a7a7a66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }
 .inner{
  display: flex;
  justify-content: space-between;
  /* margin: 1rem; */
 }
 .cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }
 .loader {

  position: relative;
  width: 240px;
  height: 130px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}